<h2>Create a New Posting</h2>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      * required
      <br/><br/>
      <div class="form-group">
        <label class="col-md-4">Host Name*</label>
        <input type="text" class="form-control" name="host_name" formControlName="host_name" #host_name/>
      </div>
      <div *ngIf="angForm.controls['host_name'].invalid && (angForm.controls['host_name'].dirty || angForm.controls['host_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['host_name'].errors.required">
          Host Name is required
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Unit Name*</label>
        <input type="text" class="form-control" name="unit_name" formControlName="unit_name" #unit_name/>
      </div>
      <div *ngIf="angForm.controls['unit_name'].invalid && (angForm.controls['unit_name'].dirty || angForm.controls['unit_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['unit_name'].errors.required">
          Unit Name is required
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Unit Price*</label>
        <input type="text" class="form-control" name="unit_price" formControlName="unit_price" #unit_price/>
      </div>
      <div *ngIf="angForm.controls['unit_price'].invalid && (angForm.controls['unit_price'].dirty || angForm.controls['unit_price'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['unit_price'].errors.required">
          Unit Price is required
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input type="text" class="form-control" name="description" formControlName="description" #description/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Location*</label>
        <input type="text" class="form-control" name="location" formControlName="location" #location/>
      </div>
      <div *ngIf="angForm.controls['location'].invalid && (angForm.controls['location'].dirty || angForm.controls['location'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['location'].errors.required">
          Location is required
        </div>
      </div>

      <div class="form-group">
        <button (click)="addPosting(host_name.value, unit_name.value, unit_price.value, description.value, location.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
          Create Posting
        </button>
      </div>
    </form>
  </div>
</div>