<h2>Rent Posting</h2>
<button (click)="goBack()" class="btn btn-primary">Go Back</button>
<div class="card" *ngIf="(posting)">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      * required
      <br/><br/>
      
      <div class="form-group">
        <label class="col-md-4">Number of Guests*</label>
        <input type="number" class="form-control" name="guests" formControlName="guests" #guests/>
      </div>
      <div *ngIf="angForm.controls['guests'].invalid && (angForm.controls['guests'].dirty || angForm.controls['guests'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['guests'].errors.required">
          Number of guests is required and must be a number
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">How Many Days? Costs ${{ posting.unit_price }} per day*</label>
        <input type="number" class="form-control" name="days" formControlName="days" #days (input)="calculate(days.value)"/>
      </div>
      <div *ngIf="angForm.controls['days'].invalid && (angForm.controls['days'].dirty || angForm.controls['days'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['days'].errors.required">
          Number of days is required and must be a number
        </div>
      </div>

      <div>
        <h4>Total Cost: ${{total}}</h4>
      </div>

      <div class="form-group">
        <button (click)="rentPosting(days.value, guests.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
          Rent Posting
        </button>
      </div>
    </form>
  </div>
</div>