<h2>{{ name }}'s Postings</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Unit Name</td>
      <td>Unit Price (per day)</td>
      <td>Location</td>
      <td>Still Available</td>
      <td colspan="1">Actions</td>
    </tr>
  </thead>

  <tbody *ngFor="let posting of postings">
    <tr></tr>
    <tr *ngIf="posting.host_uid === uid">
        <td>{{ posting.unit_name }}</td>
        <td>{{ posting.unit_price }}</td>
        <td>{{ posting.location }}</td>
        <td *ngIf="(posting.available)">Yes</td>
        <td *ngIf="(!posting.available)">No</td>
        <td><a [routerLink]="['/detail', posting.id]" class="btn btn-primary">See More</a></td>
    </tr>
  </tbody>
</table>